BlueCurve.Dataloader.AM/Service References/ServiceReference1/BCIISServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlueCurve.IIS.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlueCurve.IIS.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BCIISServices/BCIISServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:complexType name="agg_results">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="abc_calc_agg" nillable="true" type="q1:ArrayOfabc_calc_agg" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="abc_calc_agg_cc" nillable="true" type="q2:ArrayOfabc_calc_agg" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="abc_calc_agg_growths" nillable="true" type="q3:ArrayOfabc_calc_agg" />
      <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="results" nillable="true" type="q4:ArrayOfagg_result" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ttest" nillable="true" type="q5:ArrayOfttest_result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="agg_results" nillable="true" type="tns:agg_results" />
</xs:schema>