BlueCurve.Core.CS/Service References/ServiceReference1/BlueCurveWS53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.20.204.188/bluecurvenet_v5.6.3.0_svc/BlueCurveWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bluecurve.core.wcf.ws" />
  <xs:element name="generic_object_transmission_wcf">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bluecurve.core.wcf.ws" minOccurs="0" name="value" nillable="true" type="q1:cs_object_packet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="generic_object_transmission_wcfResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/bluecurve.core.wcf.ws" minOccurs="0" name="generic_object_transmission_wcfResult" nillable="true" type="q2:cs_object_packet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>