BlueCurve.Core.CS/Service References/ServiceReference1/BlueCurveWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlueCurve.Core.CS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlueCurve.Core.CS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BlueCurve.Soap.5.8.0.0/BlueCurveWS.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="bc_cs_security.certificate">
    <xs:sequence>
      <xs:element name="authentication_mode" type="xs:int" />
      <xs:element name="authentication_token" nillable="true" type="xs:string" />
      <xs:element name="client_mac_address" nillable="true" type="xs:string" />
      <xs:element name="error_state" type="xs:boolean" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="os_name" nillable="true" type="xs:string" />
      <xs:element name="override_username_password" type="xs:boolean" />
      <xs:element name="password" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="server_errors" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element name="user_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bc_cs_security.certificate" nillable="true" type="tns:bc_cs_security.certificate" />
  <xs:complexType name="bc_cs_logon">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:bc_cs_soap_base_class">
        <xs:sequence>
          <xs:element name="mode" type="xs:int" />
          <xs:element name="role_id" type="xs:long" />
          <xs:element name="role_name" nillable="true" type="xs:string" />
          <xs:element name="user_email" nillable="true" type="xs:string" />
          <xs:element name="user_id" type="xs:long" />
          <xs:element name="user_name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="bc_cs_logon" nillable="true" type="tns:bc_cs_logon" />
  <xs:complexType name="bc_cs_soap_base_class">
    <xs:sequence>
      <xs:element name="async" type="xs:boolean" />
      <xs:element name="certificate" nillable="true" type="tns:bc_cs_security.certificate" />
      <xs:element name="no_send_back" type="xs:boolean" />
      <xs:element name="packet_code" nillable="true" type="xs:string" />
      <xs:element name="tmode" type="xs:int" />
      <xs:element name="transmission_state" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bc_cs_soap_base_class" nillable="true" type="tns:bc_cs_soap_base_class" />
</xs:schema>