BlueCurve.Core.CS/Service References/ServiceReference1/BlueCurveWS54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlueCurve.Core.CS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlueCurve.Core.CS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.20.204.188/bluecurvenet_v5.6.3.0_svc/BlueCurveWS.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="bc_cs_security.certificate">
    <xs:sequence>
      <xs:element name="ad_excel_token" nillable="true" type="xs:string" />
      <xs:element name="authentication_mode" type="xs:int" />
      <xs:element name="authentication_token" nillable="true" type="xs:string" />
      <xs:element name="client_mac_address" nillable="true" type="xs:string" />
      <xs:element name="error_state" type="xs:boolean" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element name="os_name" nillable="true" type="xs:string" />
      <xs:element name="password" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="server_errors" nillable="true" type="q1:ArrayOfanyType" />
      <xs:element name="user_id" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="bc_cs_security.certificate" nillable="true" type="tns:bc_cs_security.certificate" />
</xs:schema>