BlueCurve.Core.CS/Service References/ServiceReference1/BlueCurveWS5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/bluecurve.core.wcf.ws" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/bluecurve.core.wcf.ws" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.20.204.188/bluecurvenet_v5.6.3.0_svc/BlueCurveWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BlueCurve.Core.CS" />
  <xs:import schemaLocation="http://10.20.204.188/bluecurvenet_v5.6.3.0_svc/BlueCurveWS.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="cs_object_packet">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BlueCurve.Core.CS" minOccurs="0" name="certificate" nillable="true" type="q1:bc_cs_security.certificate" />
      <xs:element minOccurs="0" name="no_send_back" type="xs:boolean" />
      <xs:element minOccurs="0" name="number_of_packets" type="xs:int" />
      <xs:element minOccurs="0" name="packet_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="packet_number" type="xs:int" />
      <xs:element minOccurs="0" name="received_object" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sent_object" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="server_errors" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="transmission_state" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="cs_object_packet" nillable="true" type="tns:cs_object_packet" />
</xs:schema>