BlueCurve.Core.CS/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BlueCurveWS_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BlueCurve.Soap.5.8.0.0/BlueCurveWS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/BlueCurve.Soap.5.8.0.0/BlueCurveWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/BlueCurve.Soap.5.8.0.0/BlueCurveWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bluecurve.core.wcf.ws" />
      <xsd:import schemaLocation="http://localhost/BlueCurve.Soap.5.8.0.0/BlueCurveWS.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BlueCurve.Core.CS" />
      <xsd:import schemaLocation="http://localhost/BlueCurve.Soap.5.8.0.0/BlueCurveWS.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="BlueCurveWS_generic_object_transmission_wcf_InputMessage">
    <wsdl:part name="parameters" element="tns:generic_object_transmission_wcf" />
  </wsdl:message>
  <wsdl:message name="BlueCurveWS_generic_object_transmission_wcf_OutputMessage">
    <wsdl:part name="parameters" element="tns:generic_object_transmission_wcfResponse" />
  </wsdl:message>
  <wsdl:message name="BlueCurveWS_password_management_InputMessage">
    <wsdl:part name="parameters" element="tns:password_management" />
  </wsdl:message>
  <wsdl:message name="BlueCurveWS_password_management_OutputMessage">
    <wsdl:part name="parameters" element="tns:password_managementResponse" />
  </wsdl:message>
  <wsdl:portType name="BlueCurveWS">
    <wsdl:operation name="generic_object_transmission_wcf">
      <wsdl:input wsaw:Action="http://tempuri.org/BlueCurveWS/generic_object_transmission_wcf" message="tns:BlueCurveWS_generic_object_transmission_wcf_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BlueCurveWS/generic_object_transmission_wcfResponse" message="tns:BlueCurveWS_generic_object_transmission_wcf_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="password_management">
      <wsdl:input wsaw:Action="http://tempuri.org/BlueCurveWS/password_management" message="tns:BlueCurveWS_password_management_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/BlueCurveWS/password_managementResponse" message="tns:BlueCurveWS_password_management_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BlueCurveWS" type="tns:BlueCurveWS">
    <wsp:PolicyReference URI="#BlueCurveWS_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="generic_object_transmission_wcf">
      <soap12:operation soapAction="http://tempuri.org/BlueCurveWS/generic_object_transmission_wcf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="password_management">
      <soap12:operation soapAction="http://tempuri.org/BlueCurveWS/password_management" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BlueCurveWS" binding="tns:BlueCurveWS">
      <soap12:address location="http://localhost/BlueCurve.Soap.5.8.0.0/BlueCurveWS.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/BlueCurve.Soap.5.8.0.0/BlueCurveWS.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>