BlueCurve.Core.OM/Web References/BlueCurveWebService/BlueCurveWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://BlueCurve.Core.WS/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://BlueCurve.Core.WS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://BlueCurve.Core.WS/">
      <s:element name="generic_object_transmission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="generic_object_transmissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="generic_object_transmissionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excel_function_transmission">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="s" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="logged_on_user_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="os_user_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="excel_function_transmissionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="excel_function_transmissionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="generic_object_transmissionSoapIn">
    <wsdl:part name="parameters" element="tns:generic_object_transmission" />
  </wsdl:message>
  <wsdl:message name="generic_object_transmissionSoapOut">
    <wsdl:part name="parameters" element="tns:generic_object_transmissionResponse" />
  </wsdl:message>
  <wsdl:message name="excel_function_transmissionSoapIn">
    <wsdl:part name="parameters" element="tns:excel_function_transmission" />
  </wsdl:message>
  <wsdl:message name="excel_function_transmissionSoapOut">
    <wsdl:part name="parameters" element="tns:excel_function_transmissionResponse" />
  </wsdl:message>
  <wsdl:portType name="BlueCurveWSSoap">
    <wsdl:operation name="generic_object_transmission">
      <wsdl:input message="tns:generic_object_transmissionSoapIn" />
      <wsdl:output message="tns:generic_object_transmissionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="excel_function_transmission">
      <wsdl:input message="tns:excel_function_transmissionSoapIn" />
      <wsdl:output message="tns:excel_function_transmissionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BlueCurveWSSoap" type="tns:BlueCurveWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="generic_object_transmission">
      <soap:operation soapAction="http://BlueCurve.Core.WS/generic_object_transmission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excel_function_transmission">
      <soap:operation soapAction="http://BlueCurve.Core.WS/excel_function_transmission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BlueCurveWSSoap12" type="tns:BlueCurveWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="generic_object_transmission">
      <soap12:operation soapAction="http://BlueCurve.Core.WS/generic_object_transmission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="excel_function_transmission">
      <soap12:operation soapAction="http://BlueCurve.Core.WS/excel_function_transmission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlueCurveWS">
    <wsdl:port name="BlueCurveWSSoap" binding="tns:BlueCurveWSSoap">
      <soap:address location="http://localhost:60000/BlueCurve.Core.WS/BlueCurveWS.asmx" />
    </wsdl:port>
    <wsdl:port name="BlueCurveWSSoap12" binding="tns:BlueCurveWSSoap12">
      <soap12:address location="http://localhost:60000/BlueCurve.Core.WS/BlueCurveWS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>