BlueCurve.Core.OM/Service References/ServiceReference1/Components2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/bc_core_components_svc/Components.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/bc_core_components_svc" />
  <xs:element name="TestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/bc_core_components_svc" minOccurs="0" name="component" nillable="true" type="q1:bc_core_component" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestComponentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonForBCComponent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entity_id" type="xs:long" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="stage_id" type="xs:long" />
        <xs:element minOccurs="0" name="contributor_id" type="xs:long" />
        <xs:element minOccurs="0" name="user_id" type="xs:long" />
        <xs:element minOccurs="0" name="language_id" type="xs:long" />
        <xs:element minOccurs="0" name="data_at_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pub_type_id" type="xs:long" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/bc_core_components_svc" minOccurs="0" name="parameters" nillable="true" type="q2:bc_core_component_parameters" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonForBCComponentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJsonForBCComponentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonForBCComponentInTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entity_id" type="xs:long" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="template_id" type="xs:long" />
        <xs:element minOccurs="0" name="comp_id" type="xs:long" />
        <xs:element minOccurs="0" name="stage_id" type="xs:long" />
        <xs:element minOccurs="0" name="contributor_id" type="xs:long" />
        <xs:element minOccurs="0" name="user_id" type="xs:long" />
        <xs:element minOccurs="0" name="language_id" type="xs:long" />
        <xs:element minOccurs="0" name="data_at_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pub_type_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonForBCComponentInTemplateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJsonForBCComponentInTemplateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonForBCComponentInDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="entity_id" type="xs:long" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
        <xs:element minOccurs="0" name="doc_id" type="xs:long" />
        <xs:element minOccurs="0" name="locator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="stage_id" type="xs:long" />
        <xs:element minOccurs="0" name="contributor_id" type="xs:long" />
        <xs:element minOccurs="0" name="user_id" type="xs:long" />
        <xs:element minOccurs="0" name="language_id" type="xs:long" />
        <xs:element minOccurs="0" name="data_at_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pub_type_id" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonForBCComponentInDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJsonForBCComponentInDocumentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonForDocumentCompostion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="doc_id" type="xs:long" />
        <xs:element minOccurs="0" name="save_to_file" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetJsonForDocumentCompostionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetJsonForDocumentCompostionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>