BlueCurve.Core.CS/Service References/ServiceReference2/BCIISServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BCIISServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/BCIISServices/BCIISServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/BCIISServices/BCIISServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/BCIISServices/BCIISServices.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BlueCurve.IIS.Services" />
      <xsd:import schemaLocation="http://localhost/BCIISServices/BCIISServices.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBCIISServices_AggregateUniverse_InputMessage">
    <wsdl:part name="parameters" element="tns:AggregateUniverse" />
  </wsdl:message>
  <wsdl:message name="IBCIISServices_AggregateUniverse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggregateUniverseResponse" />
  </wsdl:message>
  <wsdl:message name="IBCIISServices_AggregateUniverseDebug_InputMessage">
    <wsdl:part name="parameters" element="tns:AggregateUniverseDebug" />
  </wsdl:message>
  <wsdl:message name="IBCIISServices_AggregateUniverseDebug_OutputMessage">
    <wsdl:part name="parameters" element="tns:AggregateUniverseDebugResponse" />
  </wsdl:message>
  <wsdl:message name="IBCIISServices_CalcAll_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcAll" />
  </wsdl:message>
  <wsdl:message name="IBCIISServices_CalcAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcAllResponse" />
  </wsdl:message>
  <wsdl:message name="IBCIISServices_RunTask_InputMessage">
    <wsdl:part name="parameters" element="tns:RunTask" />
  </wsdl:message>
  <wsdl:message name="IBCIISServices_RunTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IBCIISServices_SendEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:SendEmail" />
  </wsdl:message>
  <wsdl:message name="IBCIISServices_SendEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendEmailResponse" />
  </wsdl:message>
  <wsdl:portType name="IBCIISServices">
    <wsdl:operation name="AggregateUniverse">
      <wsdl:input wsaw:Action="http://tempuri.org/IBCIISServices/AggregateUniverse" message="tns:IBCIISServices_AggregateUniverse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBCIISServices/AggregateUniverseResponse" message="tns:IBCIISServices_AggregateUniverse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AggregateUniverseDebug">
      <wsdl:input wsaw:Action="http://tempuri.org/IBCIISServices/AggregateUniverseDebug" message="tns:IBCIISServices_AggregateUniverseDebug_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBCIISServices/AggregateUniverseDebugResponse" message="tns:IBCIISServices_AggregateUniverseDebug_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IBCIISServices/CalcAll" message="tns:IBCIISServices_CalcAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBCIISServices/CalcAllResponse" message="tns:IBCIISServices_CalcAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RunTask">
      <wsdl:input wsaw:Action="http://tempuri.org/IBCIISServices/RunTask" message="tns:IBCIISServices_RunTask_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBCIISServices/RunTaskResponse" message="tns:IBCIISServices_RunTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IBCIISServices/SendEmail" message="tns:IBCIISServices_SendEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBCIISServices/SendEmailResponse" message="tns:IBCIISServices_SendEmail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBCIISServices" type="tns:IBCIISServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AggregateUniverse">
      <soap:operation soapAction="http://tempuri.org/IBCIISServices/AggregateUniverse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AggregateUniverseDebug">
      <soap:operation soapAction="http://tempuri.org/IBCIISServices/AggregateUniverseDebug" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcAll">
      <soap:operation soapAction="http://tempuri.org/IBCIISServices/CalcAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunTask">
      <soap:operation soapAction="http://tempuri.org/IBCIISServices/RunTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/IBCIISServices/SendEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BCIISServices">
    <wsdl:port name="BasicHttpBinding_IBCIISServices" binding="tns:BasicHttpBinding_IBCIISServices">
      <soap:address location="http://localhost/BCIISServices/BCIISServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>